{% extends 'layout/layout' %}

{% block content %}
    <div class="container">
        {% if user.isChangePasswordRequired %}
            <div class="my-3">Wymagana zmiana hasła</div>
        {% endif %}
        {% include 'application/auth/form/change-password-form' %}
        {% if isSendMail %}
            <div class="text-success">Wiadomość z potwierdzeniem zmiany hasła zostałą wysłana na twój adres email</div>
        {% endif %}
    </div>
{% endblock %}